@import "tailwindcss";

@theme {
  @keyframes slowGlow {
    0%,
    100% {
      opacity: 0.25;
      transform: scale(1);
    }
    50% {
      opacity: 0.4;
      transform: scale(1.05);
    }
  }
}
